*{
    box-sizing: border-box;
}
body, html {
    margin: 0;
    padding: 0;
    height: 100%; 
    overflow-x: hidden; 
}

.container {
    width: 100%;
    background-color: red;
    display: flex;
    justify-content: center;
   
}

.header{
    height: auto;
    width: 100%;
    background-color: white; 
    box-sizing: border-box;
    position: fixed;
    top: 0;
    z-index: 1000; 
    justify-content: center;
    padding: 0 2rem;
    display: flex;
    align-content: center;
    box-shadow:  2px 2px rgb(45, 250, 93,0.1)

}
.left_div{
    padding: 0;
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 50%;
}
.right_div{
    display: flex;
    flex-direction: row;
    width: 50%;
    justify-content: flex-end;
    padding: 0 0.5rem;
    align-items: center;
}
.logincontainer{
    padding: 0;
    width: auto;
    display: flex;
    justify-content: space-between;
    
}
.options{
    display: flex;
    align-items: center;
    gap: 1rem;    
    padding: 0;
    width: 50%;
}
.options li{
    padding: 0;
    display: flex ;
    gap: 1rem;
    text-align: center;
    align-self: center;
    justify-content: space-between;
}
.logos{
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: flex-start;
}

#logo{
    margin-left: 0;
    display: flex;
    font-size: 40px;
    justify-self: left;
    letter-spacing: 2px;
    
}
#sasta_logo{
    
    height: 2rem;
    width: 2rem;
    padding: 4px;
    border: 1px solid black;
    border-radius: 50%;
    font-size: 1rem;
    font-weight: 900;
    display: flex;
    line-height: 2rem;
    align-content: center;
    align-items: center;
    margin-top: 10px;
    background-color:rgba(14, 232, 112,0.8);
    text-align: center;    
}
.right_div .logincontainer ul {
    display: flex;
    gap: 3rem; 
    padding: 0; 
    margin: 0; 
    list-style: none; 
}

.right_div .logincontainer li {
    display: flex;
    justify-content: space-between;
    text-align: center;
    font-size: 18px;
    font-weight: bold;
}

.header ul{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header li{
    display: flex;
    height: 100%;
    justify-content: space-between;
    font-size: 25px;
    font-weight: bold;
}
.header li a{
    height: 100%;
    text-decoration: none;
   justify-content: space-between; 
   color: black;   
}

#bhendi{
    font-family: "Karla", serif;
    font-style: italic;
    word-spacing: 5px;
    font-weight: lighter;
    font-family: sans-serif;
    padding-top: 30px;
    border: 1px solid lightgreen 0.5;
    border-radius: 20px;
    height: auto;
    width: 1000px;
    padding-bottom: 30px;
    display: flex;
    justify-self: center;
    background: linear-gradient(45deg, 
    rgb(30, 250, 93, 0.2) 0%, 
    rgba(255, 255, 255, 0.1) 50%, 
    rgb(153, 94, 247,0.2) 100%);   
    box-shadow: #66ccff;
}
#log {
    width: auto;
    height: auto;
    text-align: center;
    align-self: flex-end;
    padding: 0.25rem 0.5rem;
    font-size: 1.5rem;
    border: 2px solid;
    display: flex;
    justify-content: center;
    border-radius: 5px;
    border-color: rgba(225, 239, 253, 0.5);
    background-color: rgb(225, 239, 253,0.5);
    
}
#sign{
    width: auto;
    height: auto;
    border: 2px solid;
    font-size: 1.5rem;
    padding: 0.25rem 0.5rem;
    border-radius: 5px;
    border-color: rgba(225, 239, 253, 0.5);
    background-color:rgba(14, 232, 112,0.8)    
}

.main{
    margin: 0;
    padding: 0;
    height: 500px;
    width: 100%;
    background:linear-gradient(to bottom, rgba(30,250, 93,0.1),rgba(255, 255, 255,1));  
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
    
}
.main2{
    height: 800px;
    background: linear-gradient(45deg, 
    rgb(30, 250, 93, 0.3) 0%, 
    rgba(255, 255, 255, 0.1) 50%, 
    rgb(153, 94, 247,0.3) 100%);
    box-shadow: lightgreen;
    display: flex;
    flex-direction: row;
    text-align: center;
    align-items: center; 
    justify-content: space-around;
    font-family: Georgia, 'Times New Roman', Times, serif;
    
}
.main p{
    text-align: center;
    word-spacing: 0px;
 
}
#info h4{
      margin-bottom: 50px;
      font-size: 30px;
}
#info{
    margin: 0px;
    width: 800px;
    height: auto;
    font-family: Georgia, 'Times New Roman', Times, serif;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    justify-self: right;
    font-size: 1.3rem;
}
#list li{  
    display: flex; 
    flex-direction: column;
    color: blue;
    list-style-type: disc;
    font-weight: 700;
    padding: 0px;
    margin: 0px;
}
#heading{
    letter-spacing: 2px;
    word-spacing: 6px;
    height: auto;
    margin-bottom: 50px;
    font-size: 2rem;
    font-style: italic;
}
#img{
    display: flex;
    justify-content: center;
    height: 600px;
    width: 90%;
    border-radius: 20px;
    bottom: -100px;
    margin-left: 50px;
    box-shadow: 10px 10pxblack;
    opacity: 0;
    transform: translateY(20px); 
     transition: opacity 1s ease, transform 1s ease; 
    animation: fadeIn 2s ease forwards; 
}
.main3{
    padding: 0;
    height:800px ; 
    width:100%;
    display: flex;
    /* flex-direction: row; */
    align-items: center;
    box-shadow: lightgreen;
    background: linear-gradient(to bottom, rgb(255, 255, 255,0.5), rgba(57, 127, 230, 0.3));
    background: linear-gradient(45deg ,rgb(45, 250, 93,0.2) ,rgba(255, 255, 255, 0.3), rgb(153, 94, 247,0.2));
}
.text_content{
    display: flex;
    flex-direction: column;
    width: 50%;
    font-size: 2rem;
    text-align: center;
    font-style: italic;
}
.image_container{

    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    width: 50%;
}
.image{
    padding: 0;
    margin: 0;
    height:600px ;
    width: 100%;
    border-radius: 30px;
    background-size: cover;
    margin-right: 50px;
    opacity: 0;
    display: flex;
    flex-direction:column;
    align-self: center;
    transform: translateY(20px);
    transition: opacity 1s ease, transform 1s ease; 
     animation: fadeIn 10s ease forwards; 
   
}
.contest{
    display: flex;  
    flex-direction: column;
    justify-content: center;
    text-align: center;
    height: 800px;
    width: 100%;
    background: linear-gradient(to bottom, rgb(255, 255, 255,0.6), rgba(57, 127, 230, 0.3));
    background: linear-gradient(45deg ,rgb(45, 250, 93,0.4) ,rgba(255, 255, 255, 0.3), rgb(153, 94, 247,0.4));
    box-shadow: #66ccff;
    box-shadow: 3px;
    border-radius: 10px;
}
.contest h2{
    font-size: 2rem;
    margin-top: 0px;
}

.card{ 
    height: 300px;
    width: 400px;
    border: 2px solid black;
    border-radius: 20px;
    display: inline-block;
    margin: 70px;
    background-color:rgba(14, 232, 112,0.8);
    text-align: center;      
}
.card p{
    font-size: 1.2rem;
}
.card h3 a{
    text-align: center;
    text-decoration: none;
    color: black;
    font-size: 30px;
}
.Bharati_vidyapeeth {
    display: flex;
    flex-direction: column; 
    align-items: center;
    height: 800px;
    width: 100%;
    font-family: Georgia, 'Times New Roman', Times, serif;
    background: linear-gradient(45deg, rgb(45, 250, 93, 0.2), rgba(255, 255, 255, 0.3), rgb(153, 94, 247, 0.2));
}

.content-container {
    display: flex;
    flex-direction: row; 
    text-align: center; 
    justify-content: center;
    justify-content: space-between; 
    align-items: center;
    width: 100%; 
    margin-top: 20px;
    gap: 20px;
    padding: 0 0 50px 50px;
}
.title{
    display: flex;
    flex-direction: row;
    justify-content: center;
    height: auto;
    width: 100%;
    font-size: 1.5rem;
    margin-bottom: 50px;
    margin-top: 50px;
    align-items: center;
    text-align: center; 
    justify-content: center;
}
.photo{
    display: flex;
    flex-direction: column;
    width: 50%;   
}
.paragraph{
    display: flex;
    flex-direction: column;
    width: 50%;
}
#Bvdu_image {
    padding: 0;
    display: flex;
    flex-direction: column;
    /* height: 600px; */
    height: auto;
    width: 100%; 
    border-radius: 20px;
}
#Intro {

    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 40px;
    height: auto;
    width: 90%; 
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 1.2rem;
    text-align: justify;
    list-style: disc; 
    margin: 0;
}

#Intro li{
    font-size: 20px;
    line-height: 30px;
} 
#Read_more_btn{
    height: 25px;
    border-radius: 5px;
}
#Read_more_btn a{
    text-decoration: none;
    color: black;    
}

.btn{
    height: 50px;
    width: 200px;
    border: 2px solid lightblue;
    border-radius: 20px;
    box-shadow: 2px;
    margin-top: 70px;
    background-color:black;
    color: white;
    font-size: 20px;
}
.social_media{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: flex-start;
    justify-content: center;
    align-items: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
    /* background-color: #98f5ae33; */
    background-color: white;
    box-shadow:  2px 2px rgb(45, 250, 93,0.1);
    /* border-top: 1px; */
    color: black;
    
}
.logo_with_name{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    justify-content: center;
    align-items: center;

}
 .social_media p{
    font-size: 1rem;
    margin-left: 50px;
} 
.follow{
    display: flex;
    width: 100%;
    flex-direction: column;
    justify-content: center;
    color: black;
}
.follow >p{
     font-size: 1.5rem;
     font-weight: bold;
}
.symbol{
    display: flex;
    width: 100%;
    flex-direction: column;
    justify-content: center;  
}
.social_media i{ 
    opacity: 0.5;
    font-size: 25px;
    color: black;
    margin-left: 1.2rem;
}
.social_media h3{
  display: flex;
  margin-left: 20px; 
  line-height: 70px;
  font-size: 1.5rem;
  top: 50px;
}
.copywriter{
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: center;
}
#bvp{
    margin: 0;
    padding: 0;
    display: flex;
    bottom: -20px;
    height: 100px;
    width: 100px;
    border-top-left-radius: 150%;
    border-top-right-radius: 150%;
    
}

.social_media i:hover{
    color: black;
    opacity: 1;
} 

.btn:hover{
 background-color: #4f5250;
 
}
#Read_more_btn:hover{
    background-color:green;
}
@media(max-width:400px) {
    .card{    
        flex-wrap:wrap
    }

}
@media(max-width: 1500px){
    #login,#signup{
        position: relative;
        transform: translateX(1000px);
        transform: translateY(10px);
        display: inline-block;
        
    }
    #heading{
        margin-top: 200px;
    }
    
}
@keyframes fadeIn {
    0% {
        opacity: 0;
        transform: translateY(20px); 
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

 #image:in-viewport {
    animation: fadeIn 10s ease forwards; 
}

#img :in-viewport {
    animation: fadeIn 2s ease forwards; 
} 
.header li a:hover{
    color: rgb(68, 214, 68);
}
#log a:hover{
    
    background-color: rgb(225, 239, 253,1);
    font-size: 30px;
    color:black;
}
#sign a:hover{
    background-color:rgba(14, 232, 112,0.8) ;
    font-size: 30px;
    color: black;
}